@media (max-width: 768px) {
  .support-pr {
    width: 100% !important;
    margin-bottom: 45px;
  }
  
  .support-heading {
    margin-bottom: 14px !important;
  }

  .offer-card {
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .card-img {
    width: 200px !important;
  }
 
}