@media (max-width: 768px) {
  .main-container {
    display: flex;
    justify-content: space-between;
  }
  .main-nav {
    display: none;
  }
  .main-nav ul {
    display: none;
  }

  .main-list {
    display: none;
  }
}

